* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Monserrat',sans-serif;
}

body {
    background-color: #EFF5F5;
}
header {
    background-color: #497174;
    padding: 16px 32px;
    border: auto -16px;
    text-align: center;
}

h1 {
    color: #EB6440;
    font-family: 'McLaren',cursive;
    font-weight: 200;
}

form.take-note {
    position: relative;
    width: 480px;
    margin: 30px auto;
    background: #D6E4E5;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138,137,137);
    
}

form.take-note input,
form.take-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #5fba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}